/*!
 * Unplugged CSS
 *
 * Made at TC Disrupt SF 2012 by @JamesTamplin
 */

#wrapper {
  margin: 0 auto;
  text-align: center;
}

.codeEntry {
  font-size: 30px !important;
  width: 20px;
  padding: 12px 15px !important;
}