/*!
 * Unplugged CSS
 *
 * Made at TC Disrupt SF 2012 by @JamesTamplin
 */

.logo {
  margin: 50px 0;
}
.prompt {
  font-size: 16px;
  font-weight: bold;
}
.codeEntry {
  font-size: 30px !important;
  width: 20px;
  padding: 12px 15px !important;
}
.mainOutline {
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #eee;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 15px 0;
}
#number {
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.bottom {
  border-top: 1px solid #ccc;
  margin-top: 80px;
}
.bottom p {
  padding: 5px;
  font-size: 12px;
  color: #777;
}
.createPresentation {
  font-size: 24px;
  padding-top: 19px;
}
.or {
  padding-top: 20px;
}


/** These are for the creation page thumbnails */
.thumbnorm {
  border: 2px solid black;
  width: 72px;
  height: 54px;
}
.thumblight {
  border: 2px solid red;
}